body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.navbar-brand{
    color: black;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link{
    color: black;
}
.form-control{
    width: 40%;
}
.d-flex{
    justify-content: center;
    margin-top: 50px;
}
.btn{
    background-color: blue;
    color: #fff;
}
/* .display{
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    
} */
#display-Section{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 5px;
   padding-left: 50px;
   margin-top: 20px;
   text-align: center;
}
img{
    width: 298px;
 }
#meal-info{
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
    margin-left: 475px;
 }
 .meal-info,p{
    margin: 0;
 }
 .navbar-brand{
     padding-left: 217px;
 }
 #navbarNav{
     padding-right: 85px;
 }